<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="logback-appender.xml"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="CONSOLE_FILE"/>
    </root>

    <logger name="com.xorker.draw.log.ApiLoggingFilter" level="INFO" additivity="false">
        <appender-ref ref="API_FILE"/>
    </logger>

    <logger name="com.xorker.draw.websocket.log.WebSocketLogger" level="INFO" additivity="false">
        <appender-ref ref="WS_FILE"/>
    </logger>

    <logger name="org.hibernate" level="ERROR"/>
    <logger name="org.springframework.web" level="INFO"/>
</configuration>
